:root {
  --primary: #3A86FF;
  --secundary:	#06D6A0;
  --neutral-light: #F0F0F0;
  --neutral-medium: #BDBDBD;
  --neutral-dark: #333;
  --border: #ccc;
  --erro: #EF233C;
  --secundary-text: #BDBDBD;
  --white: #fff;
  --button-hover: #0A9396;
  --hover-active: #265da8; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--neutral-light);
  color: var(--neutral-dark);
  font-family: "Inter", sans-serif;
  display: grid;
  place-items: center;
  height: 100vh;
  transition: all 500ms;
}

body.dark{
  background-color: var(--neutral-dark);
  color: var(--neutral-light);
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  transition: all 500ms;
}

.content {
  width: 100%;
  max-width: 80%;
  padding: 2rem 1rem;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
  border-radius: 0.5rem;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}

.logo h1 {
  font-size: 1.5rem;
  line-height: 140%;
  font-weight: 700;
}

.mode i {
  font-size: 1.5rem;
  color: var(--neutral-dark);
}

body.dark .mode i {
  color: var(--neutral-light);
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.result {
  border: 2px solid var(--border);
  border-radius: 0.5rem;
  padding: 1.5rem 1rem;
  font-size: 2rem;
  font-weight: 700;
  color: var(--primary);
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.calculator {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.calculator button {
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 125%;
  border-radius: 0.5rem;
  transition: all 0.1s ease-in-out;
  transform: scale(1);
  padding: 1rem;
}


.btn-primary, 
.btn-secundary {
  font-size: 1.125rem;
  line-height: 150%;
  padding: 1rem;
  border-radius: 0.5rem;
  color: var(--white);
  font-weight: 500;
  font-family: "Roboto Mono", sans-serif;
}

.btn-primary {
  background-color: var(--primary);
}

.btn-primary:hover {
  background-color: #0a9396;
}

.btn-primary.active {
  background-color: #0a9396;
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.btn-secundary {
  background-color: #ca6702;
}


.btn-secundary:hover {
  background-color: #bb3e03;
}

.btn-secundary.active {
  background-color: #bb3e03;
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}


.btn-tertiary {
  background-color: var(--neutral-medium);
  font-weight: 800;
}

.btn-tertiary:hover {
  background-color: #ee9b00;
  color: #fff;
}

.btn-tertiary.active {
  background-color: #ee9b00;
  transform: scale(0.95);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
}

.btnZero {
  grid-column: 2;
  grid-row: 4;
}

.btnOne {
  grid-column: 1;
  grid-row: 3;
}

.btnTwo {
  grid-column: 2;
  grid-row: 3;
}

.btnThree {
  grid-column: 3;
  grid-row: 3;
}

.btnMin {
  grid-column: 4;
  grid-row: 3;
}

.btnSum {
  grid-column: 4;
  grid-row: 2;
}

.btnSep {
  grid-column: 1;
  grid-row: 4;
}

.btnSeven {
  grid-column: 1;
  grid-row: 1;
}

.btnEight {
  grid-column: 2;
  grid-row: 1;
}

.btnNine {
  grid-column: 3;
  grid-row: 1;
}

.btnClear {
  grid-column: 4;
  grid-row: 1;
}

.btnDiv {
  grid-column: 3;
  grid-row: 4;
}

.btnMul {
  grid-column: 4;
  grid-row: 4;
}

.btnEquals {
  grid-column: 3 / 5;
  grid-row: 5;
}

.btnReset {
  grid-column: 1 / 3;
  grid-row: 5;
}

@media (width >= 768px) {
  .content {
    width: 100%;
    max-width: 400px;
  }
}